{% extends 'base.html.twig' %}

{% block title %}
    TODO Créer et afficher mon profil
{% endblock %}
{% block body %}
    <h2>TODO : Créer et afficher mon profil</h2>
    {# TODO : afficher toutes les infos de mon profil #}
{% endblock %}