{% extends 'base.html.twig' %}

{% block title %}
    TODO afficher le nom de la sortie | {{ parent }}
{% endblock %}

{% block body %}
<h2>TODO : Nom de la sortie et champs (descriptions, dates, etc.)</h2>

    {# TODO : afficher toutes les infos d'une sortie #}
{% endblock %}

