{% extends 'base.html.twig' %}

{% block title %}
TODO Afficher liste des sorties
{% endblock %}

{% block body %}
    <h2>TODO : Afficher liste des sorties</h2>
    {# TODO : afficher toutes liste des sorties #}
{% endblock %}

