{% extends '/base.html.twig' %}
{% block title %}
    TODO Afficher liste des CAMPUS
{% endblock %}
{% block body %}
    <h2>TODO : Afficher liste des Campus</h2>
    {# TODO : afficher toutes liste des campus #}
{% endblock %}