{% extends '/base.html.twig' %}
{% block title %}
Liste des ville
    TODO : inclure la création des villes dedans cette page

{% endblock %}

{% block body %}

    <h1>Gérer les villes</h1>


    <table>
       <tr>
           <td>Ville</td>
           <td>Code postal</td>
           <td>Action</td>
           {% for ville in villes %}
       </tr>
        <tr>
            <td>{{ ville.nom }}</td>
            <td>{{ ville.codePostal }}</td>
            <td></td>
        </tr>

            {% endfor %}
       {# TODO : include dans gérer des villes (pas laisser seul) #}


    </table>

{% endblock %}