{% extends '/base.html.twig' %}
{% block title %}
Liste ville

{% endblock %}

{% block body %}

    <h1>Gérer les villes</h1>

   {% for ville in villes %}
    <table>
       <tr>
           <td>Ville</td>
           <td>Code postal</td>
           <td>Action</td>

       </tr>
        <tr>
            <td>{{ ville.nom }}</td>
            <td>{{ ville.codePostal }}</td>
            <td></td>
        </tr>



    {% endfor %}

    </table>

{% endblock %}